---
 const personalImageAlt = "Ian DIaz"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-orange-500 dark:[&>p>strong]:text-orange-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Ian Diaz. Empecé en la
      programación con Arduino, a mis 14 años. Actualmente soy <strong
        >parte de un equipo de desarrollo altamente eficiente y proactivo</strong
      >. Hoy estoy estudiando la <strong>Técnicatura en inteligencia artificial</strong> en la Univesidad de Hurlingham.
    </p>

    <p>
      Algunos de mis logros incluyen <strong
        >El rebranding de la web de la Clínica Universitaria Reina Fabiola de Córdoba.</strong
      > Fue mi primer gran desafio ya que fue una pagina de gran tamaño y con varias complejidades las cuales pude superar con Exito
    </p>

    <p>
      Tambien trabeje en el desarrollo de las webs de <strong
        >Ess Energy, Semperti, Acquisition Anonymus, Pathfinders Studio, BGH Cloud Tech, StaffHound, Quinttos, entre otras.</strong
      > Mi objetivo es crecer en el mundo IT y colaborar en que la gente tenga una mejor experiencia al navegar por internet.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>