---
const personalImageAlt = "Miguel Ángel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/yo.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/iandiaz-dev/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Ian Diaz
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-orange-400 [&>strong]:text-orange-400 [&>strong]:font-semibold dark:text-gray-300"
  >
    +3 años de experiencia. <strong
      >Desarrollador web, especializado en front-end</strong
    > de Buenos Aires, Argentina. Especializado en el desarrollo de aplicaciones web
    únicas. Actualmente estudiante de <strong>Técnicatura en inteligencia artificial</strong>
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:iandiaz270601@gmail.com?Subject=Contacto%20desde%20portfolio">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/iandiaz-dev/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
